<div class="card mt-2">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <span>Danh sách ứng viên: </span>
            </div>
            <div class="col-auto">
                <button type="button" (click)="toSchedule()" class="btn btn-primary"><i class="fa fa-calendar"></i>
                    Lịch phỏng vấn</button>
                <button type="button" (click)="showAddModal()" class="btn btn-success"><i class="fa fa-plus"></i>
                    Thêm hồ sơ</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!-- <ngx-datatable class="material" [rows]="candidates" [rowHeight]="50" [columnMode]="'force'" [sortType]="'multi'"
            [headerHeight]="50" [footerHeight]="50" [externalPaging]="true" [count]="paging.totalItems"
            [offset]="paging.page - 1" [limit]="paging.pageLimit" (page)="loadCandidate($event)">
            <ngx-datatable-column name="Tên">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="cursor-hover" (click)="choose(row.id)">{{ row.firstname}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Số điện thoại">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>{{ row.phoneNumber}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>{{ row.email}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Vị trí ứng tuyển">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>{{ row.position}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="40">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="btn btn-danger"><i class="fa fa-trash-o"></i>Xóa</div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable> -->
        <div class="row">
        <div class="card col-3 mb-4 ml-3 mr-3" style="border-radius: 12px; " *ngFor="let c of candidates" >
            <div class="choose" (click)="choose(c.id)">
            <div class="d-flex justify-content-center p-4">
                <img [src]="empImgPath + c.imageName" height="100px" width="100px" class="rounded-circle"
                    alt="Cinque Terre">
            </div>
            <h4 class="d-flex justify-content-center card-title">{{c.lastname}} {{c.firstname}}</h4>
            <hr>
            <span class="p-2 d-flex justify-content-center">Ứng tuyển: &nbsp; <span class="font-weight-bold"> {{c.position}}</span></span>

            <span class="p-2 d-flex justify-content-center">Trình độ: &nbsp; <span class="font-weight-bold">{{c.literacy}}</span></span>
            </div>
            <div class="row pt-3">
                <div class="choose p-2 col-6 border  border-bottom-0  border-left-0" (click)="accept(c)"><span class="font-weight-bold d-flex justify-content-center text-success">Chấp nhận</span></div>
                <div class="choose p-2 col-6 border  border-bottom-0  border-left-0 border-right-0" (click)="decline(c)"><span class="font-weight-bold d-flex justify-content-center text-danger">Từ chối</span></div>

            </div>
        </div>
    </div>
    </div>
</div>


<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Hồ sơ</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="saveForm" novalidate (ngSubmit)="save()" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-9">
                            <div class="row form-group ">
                                <div class="col-6">
                                    <label for="pwd">Họ *</label>
                                    <input type="text" class="form-control" (keydown.Tab)="onLastName($event)"  [(ngModel)]="candidateAdd.firstname"
                                    formControlName="firstname">
                                    <p style="color: crimson;" *ngIf = "errorLastName" >Không được bỏ trống trường này</p>
                                </div>
                                <div class="col-6">
                                    <label for="pwd">Tên *</label>
                                    <input type="text" (keydown.Tab)="onName($event)" class="form-control" [(ngModel)]="candidateAdd.lastname"
                                    formControlName="lastname">
                                    <p style="color: crimson;" *ngIf = "errorName" >Không được bỏ trống trường này</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-6">
                                    <label for="pwd">Ngày sinh *</label>
                                    <input type="date" class="form-control" (keydown.Tab)="onDate($event)" [(ngModel)]="candidateAdd.birthDay"
                                    formControlName="birthDay">
                                    <p style="color: crimson;" *ngIf = "errorDate" >Không được bỏ trống trường này</p>
                                </div>
                                <div class="col-6">
                                    <label for="pwd">Giới tính *</label>
                                    <select [(ngModel)]="candidateAdd.gender" (keydown.Tab)="onGender($event)" class="form-control" formControlName="gender">
                                        <option *ngFor="let g of genders" value="{{g.value}}">
                                            {{g.name}}
                                        </option>
                                    </select>
                                    <p style="color: crimson;" *ngIf = "errorGender" >Không được bỏ trống trường này</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label for="pwd">Dân tộc</label>
                                    <input type="text" class="form-control" [(ngModel)]="candidateAdd.ethnic" formControlName="ethnic" >
                                </div>
                                <div class="col-9">
                                    <label for="pwd">Quê quán</label>
                                    <input type="text" class="form-control" [(ngModel)]="candidateAdd.hometown" formControlName="hometown" >
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <img [src]="img" height="230em" width="155em"
                                style="border-radius: 8px; border: 1px solid rgba(81, 130, 202, 0.658);padding: 5px"
                                *ngIf="img">
                        </div>
                    </div> 
                    <div class="form-group ">
                        <label for="pwd">Ảnh</label>
                        <div class="custom-file">
                            <input #file type="file" class="custom-file-input" accept='image/*'
                            (change)="selectFile($event)" (change)="preview(file.files)" name="image">
                            <label class="custom-file-label" for="customFile">{{imgName}}</label>
                        </div>                           
                     </div>
                    <div class="row form-group ">
                        <div class="col-4">
                            <label for="pwd">Email</label>
                            <input type="email" class="form-control" [(ngModel)]="candidateAdd.email" formControlName="email">
            
                        </div>
                        <div class="col-4">
                            <label for="pwd">Số điện thoại</label>
                            <input type="text" class="form-control" [(ngModel)]="candidateAdd.phoneNumber" formControlName="phoneNumber">
                        </div>
                        <div class="col-4">
                            <label for="pwd">CMND</label>
                            <input type="text" class="form-control" [(ngModel)]="candidateAdd.IDCard" formControlName="IDCard">
                        </div>
                    </div>
            
                    <div class="row form-group ">
                        <div class="col-4">
                            <label for="pwd">Học vấn</label>
                            <input type="email" class="form-control" [(ngModel)]="candidateAdd.literacy" formControlName="literacy">
            
                        </div>
                        <div class="col-4">
                            <label for="pwd">Bẳng cấp</label>
                            <input type="text" class="form-control" [(ngModel)]="candidateAdd.degree" formControlName="degree">
                        </div>
                        <div class="col-4">
                            <label for="pwd">Chuyên ngành</label>
                            <input type="text" class="form-control" [(ngModel)]="candidateAdd.career" formControlName="career">
                        </div>
                       
                    </div>
            
                    <div class="row form-group ">
                        <div class="col-4">
                            <label for="pwd">Vị trí ứng tuyển</label>
                            <input type="email" class="form-control" [(ngModel)]="candidateAdd.position" formControlName="position">
            
                        </div>
                        <div class="col-8">
                            <label for="pwd">kinh nghiệm làm việc</label>
                            <input type="text" class="form-control" [(ngModel)]="candidateAdd.experience" formControlName="experience">
                        </div>
                    </div>
            
                    <div class="row form-group ">
                        <div class="col-6">
                            <label for="pwd">Kĩ năng</label>
                            <input type="email" class="form-control" [(ngModel)]="candidateAdd.skill" formControlName="skill">
            
                        </div>
                        <div class="col-6">
                            <label for="pwd">Sở thích</label>
                            <input type="text" class="form-control" [(ngModel)]="candidateAdd.hobby" formControlName="hobby">
                        </div>
                    </div>
                    
                    <div class="form-group col text-center">
                        <button type="submit" class="btn btn-outline-dark center">Lưu</button>
                    </div>
            
                </form>
            </div>
        </div>
    </div>
</div>