<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <span>Phòng ban: </span>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>
                    Add</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          <ngx-datatable 
          class="material" 
          [rows]="departments" 
          [rowHeight]="50" 
          [columnMode]="'force'" 
          [sortType]="'multi'" 
          [headerHeight]="50" 
          [footerHeight]="50" 
          [limit]="10"
     
          >
              <ngx-datatable-column name="ID" >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      <span>{{ row.id}}</span>
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tên phòng" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>{{ row.name}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Vị trí" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>{{ row.locationId}}</span>
                </ng-template>
            </ngx-datatable-column>
       
            
          </ngx-datatable>
        </div>
        </div>